body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:935px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4874 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:935px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:460px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u4876 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u4880 {
  position:absolute;
  left:454px;
  top:144px;
  width:82px;
  height:21px;
  font-size:16px;
  text-align:right;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4883 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u4885 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u4886 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4887 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u4888 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4889 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u4890 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4891 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u4892 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u4893 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u4894 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4895 {
  position:absolute;
  left:194px;
  top:139px;
  width:250px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4896 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u4897 {
  position:absolute;
  left:421px;
  top:145px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(308deg);
  -moz-transform:rotate(308deg);
  -ms-transform:rotate(308deg);
  transform:rotate(308deg);
}
#u4898 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4899 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4901 {
  position:absolute;
  left:117px;
  top:144px;
  width:48px;
  height:21px;
  font-size:16px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4903 {
  position:absolute;
  left:160px;
  top:149px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4904 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:64px;
  background:inherit;
  background-color:rgba(253, 89, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4905 {
  position:absolute;
  left:100px;
  top:881px;
  width:455px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u4906 {
  position:absolute;
  left:2px;
  top:21px;
  width:451px;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:505px;
}
#u4907 {
  position:absolute;
  left:149px;
  top:262px;
  width:354px;
  height:505px;
}
#u4908 {
  position:absolute;
  left:2px;
  top:244px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4909_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:51px;
  height:6px;
}
#u4909 {
  position:absolute;
  left:171px;
  top:742px;
  width:48px;
  height:3px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:51px;
  height:6px;
}
#u4911 {
  position:absolute;
  left:438px;
  top:742px;
  width:48px;
  height:3px;
}
#u4912 {
  position:absolute;
  left:2px;
  top:-6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u4914 {
  position:absolute;
  left:96px;
  top:175px;
  width:459px;
  height:1px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u4916 {
  position:absolute;
  left:96px;
  top:222px;
  width:459px;
  height:1px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u4918 {
  position:absolute;
  left:117px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4920 {
  position:absolute;
  left:160px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4921 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9900;
}
#u4922 {
  position:absolute;
  left:211px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF9900;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4924 {
  position:absolute;
  left:254px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4925 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4926 {
  position:absolute;
  left:326px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4928 {
  position:absolute;
  left:369px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4929 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4930 {
  position:absolute;
  left:436px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4931 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4932 {
  position:absolute;
  left:478px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4933 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934 {
  position:absolute;
  left:112px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4935 {
  position:absolute;
  left:211px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4936 {
  position:absolute;
  left:321px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4937 {
  position:absolute;
  left:435px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u4938 {
  position:absolute;
  left:522px;
  top:191px;
  width:16px;
  height:18px;
}
#u4939 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:679px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4941 {
  position:absolute;
  left:96px;
  top:122px;
  width:459px;
  height:679px;
  opacity:0.5;
}
#u4942 {
  position:absolute;
  left:2px;
  top:332px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:144px;
}
#u4943 {
  position:absolute;
  left:96px;
  top:801px;
  width:459px;
  height:144px;
}
#u4944 {
  position:absolute;
  left:2px;
  top:64px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4945 {
  position:absolute;
  left:117px;
  top:62px;
  width:104px;
  height:34px;
}
#u4946 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u4947 {
  position:absolute;
  left:169px;
  top:67px;
  width:1px;
  height:23px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4949 {
  position:absolute;
  left:184px;
  top:71px;
  width:17px;
  height:17px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951 {
  position:absolute;
  left:173px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4952 {
  position:absolute;
  left:117px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4953 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u4954 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
