body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:1298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7397 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:1298px;
}
#u7398 {
  position:absolute;
  left:2px;
  top:641px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u7399 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u7400 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7401 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u7402 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7404 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u7405 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7406 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u7407 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7408 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u7409 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7410 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u7411 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7412 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u7413 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7414 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u7415 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7416 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7417 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u7418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:837px;
}
#u7419 {
  position:absolute;
  left:98px;
  top:122px;
  width:455px;
  height:837px;
}
#u7420 {
  position:absolute;
  left:2px;
  top:410px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:349px;
}
#u7421 {
  position:absolute;
  left:98px;
  top:959px;
  width:455px;
  height:349px;
}
#u7422 {
  position:absolute;
  left:2px;
  top:166px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:62px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7423 {
  position:absolute;
  left:98px;
  top:1085px;
  width:455px;
  height:62px;
}
#u7424 {
  position:absolute;
  left:2px;
  top:23px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
  background:inherit;
  background-color:rgba(247, 224, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7425 {
  position:absolute;
  left:423px;
  top:128px;
  width:113px;
  height:43px;
}
#u7426 {
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:52px;
  background:inherit;
  background-color:rgba(254, 99, 107, 1);
  border:none;
  border-radius:65px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7427 {
  position:absolute;
  left:127px;
  top:1229px;
  width:398px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7428 {
  position:absolute;
  left:2px;
  top:15px;
  width:394px;
  word-wrap:break-word;
}
#u7429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7429 {
  position:absolute;
  left:243px;
  top:1157px;
  width:204px;
  height:30px;
  font-size:12px;
}
#u7430 {
  position:absolute;
  left:0px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u7431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:328px;
}
#u7432 {
  position:absolute;
  left:98px;
  top:980px;
  width:457px;
  height:328px;
}
#u7433 {
  position:absolute;
  left:2px;
  top:156px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:858px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7434 {
  position:absolute;
  left:99px;
  top:122px;
  width:458px;
  height:858px;
  opacity:0.5;
}
#u7435 {
  position:absolute;
  left:2px;
  top:421px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:315px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:47px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7436 {
  position:absolute;
  left:156px;
  top:607px;
  width:343px;
  height:315px;
}
#u7437 {
  position:absolute;
  left:2px;
  top:150px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7438 {
  position:absolute;
  left:184px;
  top:638px;
  width:24px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u7439 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u7440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7440 {
  position:absolute;
  left:264px;
  top:648px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u7441 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7442 {
  position:absolute;
  left:255px;
  top:715px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u7443 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u7444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u7444 {
  position:absolute;
  left:255px;
  top:766px;
  width:127px;
  height:42px;
  font-size:36px;
}
#u7445 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7446 {
  position:absolute;
  left:184px;
  top:818px;
  width:296px;
  height:22px;
  font-size:18px;
}
#u7447 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
#u7448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7448 {
  position:absolute;
  left:184px;
  top:857px;
  width:35px;
  height:36px;
}
#u7449 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7450 {
  position:absolute;
  left:234px;
  top:857px;
  width:35px;
  height:36px;
}
#u7451 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7452 {
  position:absolute;
  left:282px;
  top:857px;
  width:35px;
  height:36px;
}
#u7453 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7454 {
  position:absolute;
  left:329px;
  top:857px;
  width:35px;
  height:36px;
}
#u7455 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7456 {
  position:absolute;
  left:376px;
  top:857px;
  width:35px;
  height:36px;
}
#u7457 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7458 {
  position:absolute;
  left:422px;
  top:857px;
  width:35px;
  height:36px;
}
#u7459 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u7460 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u7461 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
