body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:1020px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7010 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:1020px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:502px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u7012 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u7013 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7014 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u7015 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7017 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u7018 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7019 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u7020 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7021 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u7022 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7023 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u7024 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7025 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u7026 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7027 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u7028 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7029 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7030 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:902px;
}
#u7031 {
  position:absolute;
  left:98px;
  top:124px;
  width:455px;
  height:902px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:443px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:214px;
}
#u7034 {
  position:absolute;
  left:99px;
  top:814px;
  width:451px;
  height:214px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:99px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:692px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7036 {
  position:absolute;
  left:97px;
  top:122px;
  width:456px;
  height:692px;
  opacity:0.5;
}
#u7037 {
  position:absolute;
  left:2px;
  top:338px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7038 {
  position:absolute;
  left:126px;
  top:176px;
  width:123px;
  height:718px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7039 {
  position:absolute;
  left:99px;
  top:930px;
  width:454px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
