body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:1009px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6862 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:1009px;
}
#u6863 {
  position:absolute;
  left:2px;
  top:496px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:45px;
}
#u6864 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:45px;
}
#u6865 {
  position:absolute;
  left:2px;
  top:14px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:112px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6866 {
  position:absolute;
  left:96px;
  top:55px;
  width:459px;
  height:112px;
}
#u6867 {
  position:absolute;
  left:2px;
  top:48px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:849px;
}
#u6868 {
  position:absolute;
  left:98px;
  top:166px;
  width:454px;
  height:849px;
}
#u6869 {
  position:absolute;
  left:2px;
  top:416px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6870 {
  position:absolute;
  left:296px;
  top:72px;
  width:58px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6873 {
  position:absolute;
  left:454px;
  top:71px;
  width:86px;
  height:28px;
}
#u6874 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6875 {
  position:absolute;
  left:471px;
  top:82px;
  width:6px;
  height:6px;
}
#u6876 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6877 {
  position:absolute;
  left:480px;
  top:83px;
  width:4px;
  height:4px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6879 {
  position:absolute;
  left:464px;
  top:83px;
  width:4px;
  height:4px;
}
#u6880 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6881 {
  position:absolute;
  left:515px;
  top:77px;
  width:16px;
  height:16px;
}
#u6882 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6883 {
  position:absolute;
  left:521px;
  top:84px;
  width:4px;
  height:4px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885 {
  position:absolute;
  left:111px;
  top:951px;
  width:70px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6886 {
  position:absolute;
  left:203px;
  top:951px;
  width:70px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6887 {
  position:absolute;
  left:291px;
  top:951px;
  width:70px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6888 {
  position:absolute;
  left:381px;
  top:951px;
  width:70px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6889 {
  position:absolute;
  left:470px;
  top:951px;
  width:70px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6890 {
  position:absolute;
  left:96px;
  top:495px;
  width:459px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6891 {
  position:absolute;
  left:111px;
  top:166px;
  width:429px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6892 {
  position:absolute;
  left:111px;
  top:250px;
  width:429px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6893 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u6894 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u6895 {
  position:absolute;
  left:193px;
  top:341px;
  width:185px;
  height:26px;
  font-size:18px;
  text-align:left;
}
#u6896 {
  position:absolute;
  left:2px;
  top:2px;
  width:181px;
  word-wrap:break-word;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6897 {
  position:absolute;
  left:193px;
  top:371px;
  width:185px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6898 {
  position:absolute;
  left:2px;
  top:6px;
  width:181px;
  word-wrap:break-word;
}
#u6899 {
  position:absolute;
  left:111px;
  top:330px;
  width:429px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:71px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6900 {
  position:absolute;
  left:111px;
  top:414px;
  width:429px;
  height:71px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:28px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
