body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
  background:inherit;
  background-color:rgba(245, 246, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7824 {
  position:absolute;
  left:1045px;
  top:404px;
  width:22px;
  height:26px;
}
#u7825 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u7826 {
  position:absolute;
  left:630px;
  top:40px;
  width:691px;
  height:149px;
  font-size:20px;
  text-align:left;
}
#u7827 {
  position:absolute;
  left:2px;
  top:2px;
  width:687px;
  word-wrap:break-word;
}
#u7828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:1022px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7828 {
  position:absolute;
  left:126px;
  top:40px;
  width:459px;
  height:1022px;
}
#u7829 {
  position:absolute;
  left:2px;
  top:503px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u7830 {
  position:absolute;
  left:126px;
  top:40px;
  width:459px;
  height:46px;
}
#u7831 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7832 {
  position:absolute;
  left:126px;
  top:79px;
  width:459px;
  height:73px;
}
#u7833 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7835 {
  position:absolute;
  left:476px;
  top:96px;
  width:84px;
  height:27px;
}
#u7836 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7837 {
  position:absolute;
  left:493px;
  top:107px;
  width:6px;
  height:6px;
}
#u7838 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7839 {
  position:absolute;
  left:502px;
  top:107px;
  width:4px;
  height:4px;
}
#u7840 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7841 {
  position:absolute;
  left:486px;
  top:108px;
  width:4px;
  height:4px;
}
#u7842 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7843 {
  position:absolute;
  left:535px;
  top:102px;
  width:15px;
  height:15px;
}
#u7844 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7845 {
  position:absolute;
  left:541px;
  top:107px;
  width:5px;
  height:5px;
}
#u7846 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7847 {
  position:absolute;
  left:133px;
  top:98px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7848 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u7849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u7849 {
  position:absolute;
  left:220px;
  top:264px;
  width:344px;
  height:70px;
  text-align:left;
  line-height:28px;
}
#u7850 {
  position:absolute;
  left:2px;
  top:7px;
  width:340px;
  word-wrap:break-word;
}
#u7851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:95px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7851 {
  position:absolute;
  left:127px;
  top:152px;
  width:457px;
  height:95px;
}
#u7852 {
  position:absolute;
  left:2px;
  top:40px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7853 {
  position:absolute;
  left:156px;
  top:172px;
  width:87px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u7854 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u7855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u7855 {
  position:absolute;
  left:253px;
  top:181px;
  width:13px;
  height:8px;
}
#u7856 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7857 {
  position:absolute;
  left:156px;
  top:209px;
  width:95px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u7858 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u7859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7859 {
  position:absolute;
  left:159px;
  top:269px;
  width:50px;
  height:50px;
}
#u7860 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u7861 {
  position:absolute;
  left:220px;
  top:344px;
  width:344px;
  height:70px;
  text-align:left;
  line-height:28px;
}
#u7862 {
  position:absolute;
  left:2px;
  top:7px;
  width:340px;
  word-wrap:break-word;
}
#u7863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7863 {
  position:absolute;
  left:159px;
  top:349px;
  width:50px;
  height:50px;
}
#u7864 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
