body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6602 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:892px;
}
#u6603 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u6604 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u6605 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6606 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u6607 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6609 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u6610 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6611 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u6612 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6613 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u6614 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6615 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u6616 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6617 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u6618 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6619 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u6620 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6621 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6622 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u6623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:305px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6623 {
  position:absolute;
  left:100px;
  top:516px;
  width:451px;
  height:305px;
}
#u6624 {
  position:absolute;
  left:2px;
  top:144px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6625 {
  position:absolute;
  left:120px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u6626 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u6627 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u6629 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u6630 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6631 {
  position:absolute;
  left:222px;
  top:724px;
  width:300px;
  height:170px;
}
#u6632 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:28px;
}
#u6633 {
  position:absolute;
  left:182px;
  top:184px;
  width:280px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:28px;
}
#u6634 {
  position:absolute;
  left:0px;
  top:2px;
  width:280px;
  word-wrap:break-word;
}
#u6635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u6635 {
  position:absolute;
  left:299px;
  top:132px;
  width:57px;
  height:17px;
  font-size:14px;
}
#u6636 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u6637 {
  position:absolute;
  left:487px;
  top:173px;
  width:55px;
  height:55px;
}
#u6638 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 204, 51, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:28px;
}
#u6639 {
  position:absolute;
  left:182px;
  top:248px;
  width:130px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:28px;
}
#u6640 {
  position:absolute;
  left:0px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u6641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u6641 {
  position:absolute;
  left:116px;
  top:240px;
  width:49px;
  height:48px;
}
#u6642 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u6643 {
  position:absolute;
  left:459px;
  top:189px;
  width:10px;
  height:18px;
}
#u6644 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6645 {
  position:absolute;
  left:173px;
  top:255px;
  width:10px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6646 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6647 {
  position:absolute;
  left:500px;
  top:518px;
  width:54px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6648 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u6649 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
