body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:935px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4797 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:935px;
}
#u4798 {
  position:absolute;
  left:2px;
  top:460px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u4799 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u4800 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4801 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u4802 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u4803 {
  position:absolute;
  left:454px;
  top:144px;
  width:82px;
  height:21px;
  font-size:16px;
  text-align:right;
}
#u4804 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4805 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4806 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u4807 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u4808 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u4809 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4810 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4812 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u4813 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4814 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u4815 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u4816 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u4817 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4818 {
  position:absolute;
  left:194px;
  top:139px;
  width:250px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4819 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u4820 {
  position:absolute;
  left:421px;
  top:145px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(308deg);
  -moz-transform:rotate(308deg);
  -ms-transform:rotate(308deg);
  transform:rotate(308deg);
}
#u4821 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4822 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u4824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4824 {
  position:absolute;
  left:117px;
  top:144px;
  width:48px;
  height:21px;
  font-size:16px;
}
#u4825 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4826 {
  position:absolute;
  left:160px;
  top:149px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4827 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:64px;
  background:inherit;
  background-color:rgba(253, 89, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4828 {
  position:absolute;
  left:100px;
  top:881px;
  width:455px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u4829 {
  position:absolute;
  left:2px;
  top:21px;
  width:451px;
  word-wrap:break-word;
}
#u4830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:455px;
  height:658px;
}
#u4830 {
  position:absolute;
  left:98px;
  top:223px;
  width:455px;
  height:658px;
}
#u4831 {
  position:absolute;
  left:2px;
  top:321px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u4833 {
  position:absolute;
  left:96px;
  top:175px;
  width:459px;
  height:1px;
}
#u4834 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u4835 {
  position:absolute;
  left:96px;
  top:222px;
  width:459px;
  height:1px;
}
#u4836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9900;
}
#u4837 {
  position:absolute;
  left:117px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF9900;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4839 {
  position:absolute;
  left:160px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4840 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4841 {
  position:absolute;
  left:211px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4842 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4843 {
  position:absolute;
  left:254px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4844 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4845 {
  position:absolute;
  left:326px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4847 {
  position:absolute;
  left:369px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4848 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4849 {
  position:absolute;
  left:436px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4851 {
  position:absolute;
  left:478px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4852 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853 {
  position:absolute;
  left:112px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4854 {
  position:absolute;
  left:206px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4855 {
  position:absolute;
  left:321px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4856 {
  position:absolute;
  left:435px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u4857 {
  position:absolute;
  left:522px;
  top:191px;
  width:16px;
  height:18px;
}
#u4858 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:679px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4860 {
  position:absolute;
  left:96px;
  top:121px;
  width:459px;
  height:679px;
  opacity:0.5;
}
#u4861 {
  position:absolute;
  left:2px;
  top:332px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:144px;
}
#u4862 {
  position:absolute;
  left:96px;
  top:800px;
  width:459px;
  height:144px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:64px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4864 {
  position:absolute;
  left:117px;
  top:61px;
  width:104px;
  height:34px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u4866 {
  position:absolute;
  left:169px;
  top:66px;
  width:1px;
  height:23px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u4868 {
  position:absolute;
  left:184px;
  top:70px;
  width:17px;
  height:17px;
}
#u4869 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4870 {
  position:absolute;
  left:173px;
  top:61px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4871 {
  position:absolute;
  left:117px;
  top:61px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4872 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:237px;
  font-size:20px;
  text-align:left;
}
#u4873 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
