body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4672 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:892px;
}
#u4673 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u4674 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u4675 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4676 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u4677 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u4678 {
  position:absolute;
  left:454px;
  top:144px;
  width:82px;
  height:21px;
  font-size:16px;
  text-align:right;
}
#u4679 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4681 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u4682 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u4683 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u4684 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4685 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u4686 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4687 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u4688 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4689 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u4690 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u4691 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u4692 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4693 {
  position:absolute;
  left:194px;
  top:139px;
  width:250px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u4694 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u4695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u4695 {
  position:absolute;
  left:421px;
  top:145px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(308deg);
  -moz-transform:rotate(308deg);
  -ms-transform:rotate(308deg);
  transform:rotate(308deg);
}
#u4696 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4697 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u4699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u4700 {
  position:absolute;
  left:96px;
  top:284px;
  width:459px;
  height:1px;
}
#u4701 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u4702 {
  position:absolute;
  left:96px;
  top:331px;
  width:459px;
  height:1px;
}
#u4703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u4704 {
  position:absolute;
  left:117px;
  top:299px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u4705 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4706 {
  position:absolute;
  left:160px;
  top:303px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4707 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4708 {
  position:absolute;
  left:211px;
  top:299px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4709 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4710 {
  position:absolute;
  left:254px;
  top:303px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4711 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4712 {
  position:absolute;
  left:326px;
  top:299px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4713 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4714 {
  position:absolute;
  left:369px;
  top:303px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4715 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4716 {
  position:absolute;
  left:436px;
  top:299px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u4717 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4718 {
  position:absolute;
  left:478px;
  top:303px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4719 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4720 {
  position:absolute;
  left:112px;
  top:299px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4721 {
  position:absolute;
  left:206px;
  top:299px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4722 {
  position:absolute;
  left:321px;
  top:299px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4723 {
  position:absolute;
  left:435px;
  top:299px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u4724 {
  position:absolute;
  left:522px;
  top:300px;
  width:16px;
  height:18px;
}
#u4725 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4726 {
  position:absolute;
  left:117px;
  top:144px;
  width:48px;
  height:21px;
  font-size:16px;
}
#u4727 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u4728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u4728 {
  position:absolute;
  left:160px;
  top:149px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4729 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:51px;
}
#u4730 {
  position:absolute;
  left:122px;
  top:189px;
  width:399px;
  height:51px;
}
#u4731 {
  position:absolute;
  left:2px;
  top:18px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4732 {
  position:absolute;
  left:131px;
  top:240px;
  width:399px;
  height:21px;
  font-size:16px;
}
#u4733 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  word-wrap:break-word;
}
#u4734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:88px;
}
#u4735 {
  position:absolute;
  left:117px;
  top:348px;
  width:122px;
  height:88px;
}
#u4736 {
  position:absolute;
  left:2px;
  top:36px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u4737 {
  position:absolute;
  left:249px;
  top:348px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u4738 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u4739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 240, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4739 {
  position:absolute;
  left:249px;
  top:415px;
  width:60px;
  height:21px;
}
#u4740 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u4741 {
  position:absolute;
  left:312px;
  top:395px;
  width:50px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u4742 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:88px;
}
#u4744 {
  position:absolute;
  left:117px;
  top:464px;
  width:122px;
  height:88px;
}
#u4745 {
  position:absolute;
  left:2px;
  top:36px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u4746 {
  position:absolute;
  left:249px;
  top:464px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u4747 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u4748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 240, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4748 {
  position:absolute;
  left:249px;
  top:531px;
  width:60px;
  height:21px;
}
#u4749 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u4750 {
  position:absolute;
  left:312px;
  top:511px;
  width:50px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u4751 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4752 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:88px;
}
#u4753 {
  position:absolute;
  left:117px;
  top:580px;
  width:122px;
  height:88px;
}
#u4754 {
  position:absolute;
  left:2px;
  top:36px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u4755 {
  position:absolute;
  left:249px;
  top:580px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u4756 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u4757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 240, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4757 {
  position:absolute;
  left:249px;
  top:647px;
  width:60px;
  height:21px;
}
#u4758 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u4759 {
  position:absolute;
  left:312px;
  top:627px;
  width:50px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u4760 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4761 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:88px;
}
#u4762 {
  position:absolute;
  left:117px;
  top:698px;
  width:122px;
  height:88px;
}
#u4763 {
  position:absolute;
  left:2px;
  top:36px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u4764 {
  position:absolute;
  left:249px;
  top:698px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u4765 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u4766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 240, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4766 {
  position:absolute;
  left:249px;
  top:765px;
  width:60px;
  height:21px;
}
#u4767 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u4768 {
  position:absolute;
  left:312px;
  top:745px;
  width:50px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u4769 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:67px;
}
#u4771 {
  position:absolute;
  left:117px;
  top:835px;
  width:122px;
  height:67px;
}
#u4772 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u4773 {
  position:absolute;
  left:249px;
  top:835px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u4774 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u4775 {
  position:absolute;
  left:312px;
  top:882px;
  width:50px;
  height:11px;
  font-size:10px;
  color:#666666;
}
#u4776 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4778 {
  position:absolute;
  left:456px;
  top:730px;
  width:82px;
  height:29px;
}
#u4779 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u4780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u4780 {
  position:absolute;
  left:466px;
  top:735px;
  width:19px;
  height:18px;
}
#u4781 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4783 {
  position:absolute;
  left:456px;
  top:780px;
  width:82px;
  height:29px;
}
#u4784 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u4785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u4785 {
  position:absolute;
  left:469px;
  top:785px;
  width:16px;
  height:18px;
}
#u4786 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:322px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4787 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:322px;
  font-size:20px;
  text-align:left;
}
#u4788 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u4789 {
  position:absolute;
  left:111px;
  top:342px;
  width:345px;
  height:540px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4790 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:236px;
}
#u4791 {
  position:absolute;
  left:96px;
  top:666px;
  width:459px;
  height:236px;
}
#u4792 {
  position:absolute;
  left:2px;
  top:110px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:544px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4793 {
  position:absolute;
  left:96px;
  top:121px;
  width:459px;
  height:544px;
  opacity:0.5;
}
#u4794 {
  position:absolute;
  left:2px;
  top:264px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4795 {
  position:absolute;
  left:456px;
  top:130px;
  width:99px;
  height:41px;
}
#u4796 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
