body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:993px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7764 {
  position:absolute;
  left:101px;
  top:10px;
  width:459px;
  height:993px;
}
#u7765 {
  position:absolute;
  left:2px;
  top:488px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u7766 {
  position:absolute;
  left:101px;
  top:10px;
  width:459px;
  height:46px;
}
#u7767 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7768 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:88px;
}
#u7769 {
  position:absolute;
  left:133px;
  top:138px;
  width:122px;
  height:88px;
}
#u7770 {
  position:absolute;
  left:2px;
  top:36px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u7771 {
  position:absolute;
  left:265px;
  top:138px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u7772 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u7773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 240, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7773 {
  position:absolute;
  left:265px;
  top:205px;
  width:60px;
  height:21px;
}
#u7774 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u7775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7775 {
  position:absolute;
  left:101px;
  top:49px;
  width:459px;
  height:73px;
}
#u7776 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7778 {
  position:absolute;
  left:451px;
  top:66px;
  width:84px;
  height:27px;
}
#u7779 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7780 {
  position:absolute;
  left:468px;
  top:77px;
  width:6px;
  height:6px;
}
#u7781 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7782 {
  position:absolute;
  left:477px;
  top:77px;
  width:4px;
  height:4px;
}
#u7783 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7784 {
  position:absolute;
  left:461px;
  top:78px;
  width:4px;
  height:4px;
}
#u7785 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7786 {
  position:absolute;
  left:510px;
  top:72px;
  width:15px;
  height:15px;
}
#u7787 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7788 {
  position:absolute;
  left:516px;
  top:77px;
  width:5px;
  height:5px;
}
#u7789 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7790 {
  position:absolute;
  left:108px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7791 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u7792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u7792 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u7793 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
