body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5488 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u5489 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u5490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5490 {
  position:absolute;
  left:58px;
  top:0px;
  width:459px;
  height:892px;
}
#u5491 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:50px;
}
#u5492 {
  position:absolute;
  left:58px;
  top:0px;
  width:459px;
  height:50px;
}
#u5493 {
  position:absolute;
  left:2px;
  top:17px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:711px;
}
#u5494 {
  position:absolute;
  left:59px;
  top:166px;
  width:457px;
  height:711px;
}
#u5495 {
  position:absolute;
  left:2px;
  top:348px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:58px;
  background:-webkit-linear-gradient(270deg, rgba(254, 215, 216, 1) 0%, rgba(254, 215, 216, 1) 0%, rgba(251, 247, 246, 1) 100%, rgba(251, 247, 246, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 215, 216, 1) 0%, rgba(254, 215, 216, 1) 0%, rgba(251, 247, 246, 1) 100%, rgba(251, 247, 246, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 215, 216, 1) 0%, rgba(254, 215, 216, 1) 0%, rgba(251, 247, 246, 1) 100%, rgba(251, 247, 246, 1) 100%);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF676C;
}
#u5496 {
  position:absolute;
  left:86px;
  top:170px;
  width:407px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF676C;
}
#u5497 {
  position:absolute;
  left:2px;
  top:20px;
  width:403px;
  word-wrap:break-word;
}
#u5498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5498 {
  position:absolute;
  left:129px;
  top:243px;
  width:266px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u5499 {
  position:absolute;
  left:2px;
  top:6px;
  width:262px;
  word-wrap:break-word;
}
#u5500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5500 {
  position:absolute;
  left:129px;
  top:299px;
  width:149px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u5501 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u5502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5502 {
  position:absolute;
  left:308px;
  top:299px;
  width:149px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u5503 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u5504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:18px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5504 {
  position:absolute;
  left:140px;
  top:382px;
  width:149px;
  height:18px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5505 {
  position:absolute;
  left:2px;
  top:2px;
  width:145px;
  word-wrap:break-word;
}
#u5506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 102, 110, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5506 {
  position:absolute;
  left:101px;
  top:403px;
  width:374px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u5507 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  word-wrap:break-word;
}
#u5508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(236, 244, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5508 {
  position:absolute;
  left:101px;
  top:643px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5509 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u5510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(243, 243, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5510 {
  position:absolute;
  left:101px;
  top:569px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5511 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u5512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(248, 247, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5512 {
  position:absolute;
  left:310px;
  top:643px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5513 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u5514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(243, 245, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5514 {
  position:absolute;
  left:308px;
  top:569px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u5515 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u5516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:122px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5516 {
  position:absolute;
  left:58px;
  top:49px;
  width:459px;
  height:122px;
}
#u5517 {
  position:absolute;
  left:2px;
  top:53px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5518 {
  position:absolute;
  left:258px;
  top:62px;
  width:58px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5519 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u5520 {
  position:absolute;
  left:95px;
  top:560px;
  width:183px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5521 {
  position:absolute;
  left:288px;
  top:560px;
  width:199px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5522 {
  position:absolute;
  left:95px;
  top:643px;
  width:183px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5523 {
  position:absolute;
  left:288px;
  top:643px;
  width:199px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u5524 {
  position:absolute;
  left:120px;
  top:385px;
  width:19px;
  height:15px;
}
#u5525 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5526 {
  position:absolute;
  left:115px;
  top:347px;
  width:360px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u5527 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u5528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5528 {
  position:absolute;
  left:101px;
  top:379px;
  width:374px;
  height:2px;
}
#u5529 {
  position:absolute;
  left:2px;
  top:-7px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5530 {
  position:absolute;
  left:78px;
  top:62px;
  width:273px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u5531 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u5532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:91px;
  background:inherit;
  background-color:rgba(248, 246, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5532 {
  position:absolute;
  left:59px;
  top:800px;
  width:457px;
  height:91px;
}
#u5533 {
  position:absolute;
  left:2px;
  top:38px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
