body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6758 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6759 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u6760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6760 {
  position:absolute;
  left:117px;
  top:62px;
  width:104px;
  height:34px;
}
#u6761 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6762 {
  position:absolute;
  left:184px;
  top:71px;
  width:17px;
  height:17px;
}
#u6763 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u6764 {
  position:absolute;
  left:169px;
  top:67px;
  width:1px;
  height:23px;
}
#u6765 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6766 {
  position:absolute;
  left:176px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6767 {
  position:absolute;
  left:120px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:994px;
}
#u6768 {
  position:absolute;
  left:81px;
  top:10px;
  width:459px;
  height:994px;
}
#u6769 {
  position:absolute;
  left:2px;
  top:489px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u6770 {
  position:absolute;
  left:139px;
  top:64px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6771 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u6772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(141, 148, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6772 {
  position:absolute;
  left:184px;
  top:62px;
  width:81px;
  height:20px;
  color:#FFFFFF;
}
#u6773 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u6774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(253, 99, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6774 {
  position:absolute;
  left:282px;
  top:73px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6775 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u6776 {
  position:absolute;
  left:92px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u6777 {
  position:absolute;
  left:92px;
  top:881px;
  width:55px;
  height:55px;
}
#u6778 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6779 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u6780 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
