body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2204px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6182 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u6183 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u6184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:798px;
}
#u6184 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:798px;
}
#u6185 {
  position:absolute;
  left:2px;
  top:391px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:812px;
}
#u6186 {
  position:absolute;
  left:96px;
  top:723px;
  width:459px;
  height:812px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:398px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:268px;
}
#u6188 {
  position:absolute;
  left:96px;
  top:1535px;
  width:459px;
  height:268px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:126px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:896px;
}
#u6190 {
  position:absolute;
  left:96px;
  top:1803px;
  width:459px;
  height:896px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:440px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6192 {
  position:absolute;
  left:390px;
  top:442px;
  width:165px;
  height:75px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:30px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6194 {
  position:absolute;
  left:244px;
  top:412px;
  width:73px;
  height:27px;
}
#u6195 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u6196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
  background:inherit;
  background-color:rgba(82, 72, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6196 {
  position:absolute;
  left:507px;
  top:306px;
  width:40px;
  height:47px;
}
#u6197 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(82, 72, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6198 {
  position:absolute;
  left:294px;
  top:306px;
  width:65px;
  height:37px;
}
#u6199 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:1503px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6200 {
  position:absolute;
  left:1416px;
  top:10px;
  width:788px;
  height:1503px;
  font-size:20px;
  text-align:left;
}
#u6201 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6202 {
  position:absolute;
  left:119px;
  top:1214px;
  width:406px;
  height:118px;
}
#u6203 {
  position:absolute;
  left:2px;
  top:51px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6204 {
  position:absolute;
  left:251px;
  top:2637px;
  width:37px;
  height:56px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:20px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206 {
  position:absolute;
  left:317px;
  top:2637px;
  width:106px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6207 {
  position:absolute;
  left:433px;
  top:2637px;
  width:106px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
