body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6057 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u6058 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u6059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  position:absolute;
  left:506px;
  top:420px;
  width:15px;
  height:17px;
}
#u6060 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6061 {
  position:absolute;
  left:58px;
  top:0px;
  width:459px;
  height:892px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:50px;
}
#u6063 {
  position:absolute;
  left:58px;
  top:0px;
  width:459px;
  height:50px;
}
#u6064 {
  position:absolute;
  left:2px;
  top:17px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:711px;
}
#u6065 {
  position:absolute;
  left:59px;
  top:166px;
  width:457px;
  height:711px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:348px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:58px;
  background:-webkit-linear-gradient(270deg, rgba(254, 215, 216, 1) 0%, rgba(254, 215, 216, 1) 0%, rgba(251, 247, 246, 1) 100%, rgba(251, 247, 246, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 215, 216, 1) 0%, rgba(254, 215, 216, 1) 0%, rgba(251, 247, 246, 1) 100%, rgba(251, 247, 246, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 215, 216, 1) 0%, rgba(254, 215, 216, 1) 0%, rgba(251, 247, 246, 1) 100%, rgba(251, 247, 246, 1) 100%);
  border:none;
  border-radius:38px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF676C;
}
#u6067 {
  position:absolute;
  left:86px;
  top:170px;
  width:407px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF676C;
}
#u6068 {
  position:absolute;
  left:2px;
  top:20px;
  width:403px;
  word-wrap:break-word;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u6069 {
  position:absolute;
  left:129px;
  top:243px;
  width:266px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u6070 {
  position:absolute;
  left:2px;
  top:6px;
  width:262px;
  word-wrap:break-word;
}
#u6071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u6071 {
  position:absolute;
  left:129px;
  top:299px;
  width:149px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u6072 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u6073 {
  position:absolute;
  left:308px;
  top:299px;
  width:149px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u6074 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u6075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:18px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6075 {
  position:absolute;
  left:140px;
  top:382px;
  width:149px;
  height:18px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6076 {
  position:absolute;
  left:2px;
  top:2px;
  width:145px;
  word-wrap:break-word;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 102, 110, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6077 {
  position:absolute;
  left:101px;
  top:403px;
  width:374px;
  height:53px;
  font-size:16px;
  color:#FFFFFF;
}
#u6078 {
  position:absolute;
  left:2px;
  top:17px;
  width:370px;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(236, 244, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6079 {
  position:absolute;
  left:101px;
  top:643px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6080 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u6081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(243, 243, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6081 {
  position:absolute;
  left:101px;
  top:569px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6082 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(248, 247, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6083 {
  position:absolute;
  left:310px;
  top:643px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6084 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(243, 245, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6085 {
  position:absolute;
  left:308px;
  top:569px;
  width:87px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u6086 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:122px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6087 {
  position:absolute;
  left:58px;
  top:49px;
  width:459px;
  height:122px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:53px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6089 {
  position:absolute;
  left:258px;
  top:62px;
  width:58px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6090 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6091 {
  position:absolute;
  left:95px;
  top:560px;
  width:183px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6092 {
  position:absolute;
  left:288px;
  top:560px;
  width:199px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6093 {
  position:absolute;
  left:95px;
  top:643px;
  width:183px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6094 {
  position:absolute;
  left:288px;
  top:643px;
  width:199px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u6095 {
  position:absolute;
  left:120px;
  top:385px;
  width:19px;
  height:15px;
}
#u6096 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
  background:inherit;
  background-color:rgba(254, 254, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u6097 {
  position:absolute;
  left:115px;
  top:347px;
  width:360px;
  height:28px;
  font-size:14px;
  text-align:left;
}
#u6098 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(241, 241, 241, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6099 {
  position:absolute;
  left:101px;
  top:379px;
  width:374px;
  height:2px;
}
#u6100 {
  position:absolute;
  left:2px;
  top:-7px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6101 {
  position:absolute;
  left:78px;
  top:62px;
  width:135px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u6103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:91px;
  background:inherit;
  background-color:rgba(248, 246, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6103 {
  position:absolute;
  left:59px;
  top:800px;
  width:457px;
  height:91px;
}
#u6104 {
  position:absolute;
  left:2px;
  top:38px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
