body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:504px;
}
#u1722 {
  position:absolute;
  left:0px;
  top:1px;
  width:1068px;
  height:504px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:244px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:469px;
  background:inherit;
  background-color:rgba(45, 45, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1724 {
  position:absolute;
  left:0px;
  top:36px;
  width:1068px;
  height:469px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:226px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:265px;
}
#u1726 {
  position:absolute;
  left:331px;
  top:49px;
  width:343px;
  height:265px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:124px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(252, 86, 89, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1728 {
  position:absolute;
  left:532px;
  top:454px;
  width:154px;
  height:35px;
  font-size:16px;
  color:#FFFFFF;
}
#u1729 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1730 {
  position:absolute;
  left:81px;
  top:91px;
  width:117px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
  background:inherit;
  background-color:rgba(252, 86, 89, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1732 {
  position:absolute;
  left:331px;
  top:454px;
  width:157px;
  height:35px;
  color:#FFFFFF;
}
#u1733 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:21px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1734 {
  position:absolute;
  left:808px;
  top:5px;
  width:254px;
  height:21px;
}
#u1735 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1736 {
  position:absolute;
  left:81px;
  top:138px;
  width:110px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1738 {
  position:absolute;
  left:81px;
  top:184px;
  width:110px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:382px;
}
#u1740 {
  position:absolute;
  left:232px;
  top:49px;
  width:557px;
  height:382px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:183px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1742 {
  position:absolute;
  left:81px;
  top:233px;
  width:110px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#69B4FF;
}
#u1743 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:38px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:38px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:11px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1746 {
  position:absolute;
  left:460px;
  top:13px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1748 {
  position:absolute;
  left:24px;
  top:13px;
  width:138px;
  height:17px;
}
#u1749 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u1750 {
  position:absolute;
  left:54px;
  top:93px;
  width:15px;
  height:9px;
}
#u1751 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1752 {
  position:absolute;
  left:56px;
  top:136px;
  width:13px;
  height:15px;
}
#u1753 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
}
#u1754 {
  position:absolute;
  left:56px;
  top:235px;
  width:13px;
  height:12px;
}
#u1755 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1757 {
  position:absolute;
  left:54px;
  top:183px;
  width:13px;
  height:15px;
}
#u1758 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1759 {
  position:absolute;
  left:251px;
  top:322px;
  width:217px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1760 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1761 {
  position:absolute;
  left:251px;
  top:350px;
  width:169px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u1762 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
