body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6483 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:892px;
}
#u6484 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u6485 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u6486 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6487 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u6488 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6490 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u6491 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6492 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u6493 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6494 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u6495 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6496 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u6497 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6498 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u6499 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6500 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u6501 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6502 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6503 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u6504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:569px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6504 {
  position:absolute;
  left:100px;
  top:252px;
  width:451px;
  height:569px;
}
#u6505 {
  position:absolute;
  left:2px;
  top:276px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:88px;
}
#u6507 {
  position:absolute;
  left:128px;
  top:140px;
  width:122px;
  height:88px;
}
#u6508 {
  position:absolute;
  left:2px;
  top:36px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u6509 {
  position:absolute;
  left:260px;
  top:140px;
  width:270px;
  height:60px;
  line-height:20px;
}
#u6510 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u6511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 240, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6511 {
  position:absolute;
  left:260px;
  top:207px;
  width:60px;
  height:21px;
}
#u6512 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u6513 {
  position:absolute;
  left:120px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u6514 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u6515 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u6517 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u6518 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6519 {
  position:absolute;
  left:222px;
  top:724px;
  width:300px;
  height:170px;
}
#u6520 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6521 {
  position:absolute;
  left:500px;
  top:518px;
  width:54px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6522 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u6523 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
