body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5442 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:892px;
}
#u5443 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u5444 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u5445 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5446 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u5447 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5449 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u5450 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5451 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u5452 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5453 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u5454 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5455 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u5456 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5457 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u5458 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5459 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u5460 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5461 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5462 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u5463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:546px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5463 {
  position:absolute;
  left:100px;
  top:275px;
  width:451px;
  height:546px;
}
#u5464 {
  position:absolute;
  left:2px;
  top:265px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465 {
  position:absolute;
  left:120px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u5466 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u5467 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5468 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u5469 {
  position:absolute;
  left:98px;
  top:518px;
  width:456px;
  height:384px;
}
#u5470 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5471 {
  position:absolute;
  left:222px;
  top:726px;
  width:300px;
  height:170px;
}
#u5472 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5473 {
  position:absolute;
  left:500px;
  top:518px;
  width:54px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5474 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u5475 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u5476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5476 {
  position:absolute;
  left:113px;
  top:132px;
  width:55px;
  height:49px;
}
#u5477 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5478 {
  position:absolute;
  left:178px;
  top:148px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5479 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5480 {
  position:absolute;
  left:121px;
  top:191px;
  width:327px;
  height:22px;
  font-size:18px;
}
#u5481 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u5482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5482 {
  position:absolute;
  left:124px;
  top:249px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5483 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5484 {
  position:absolute;
  left:117px;
  top:275px;
  width:409px;
  height:1px;
}
#u5485 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5486 {
  position:absolute;
  left:466px;
  top:151px;
  width:63px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5487 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
