body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5812 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:892px;
}
#u5813 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u5814 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u5815 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5816 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u5817 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5819 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u5820 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5821 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u5822 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5823 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u5824 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5825 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u5826 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5827 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u5828 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5829 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u5830 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5831 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5832 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u5833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5833 {
  position:absolute;
  left:117px;
  top:62px;
  width:104px;
  height:34px;
}
#u5834 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u5835 {
  position:absolute;
  left:169px;
  top:67px;
  width:1px;
  height:23px;
}
#u5836 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5837 {
  position:absolute;
  left:184px;
  top:71px;
  width:17px;
  height:17px;
}
#u5838 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5839 {
  position:absolute;
  left:115px;
  top:185px;
  width:55px;
  height:49px;
}
#u5840 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5841 {
  position:absolute;
  left:180px;
  top:201px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5842 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5843 {
  position:absolute;
  left:123px;
  top:244px;
  width:363px;
  height:22px;
  font-size:18px;
}
#u5844 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u5845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5845 {
  position:absolute;
  left:126px;
  top:302px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5846 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u5847 {
  position:absolute;
  left:442px;
  top:288px;
  width:86px;
  height:43px;
}
#u5848 {
  position:absolute;
  left:2px;
  top:14px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5849 {
  position:absolute;
  left:123px;
  top:279px;
  width:409px;
  height:1px;
}
#u5850 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5851 {
  position:absolute;
  left:97px;
  top:334px;
  width:457px;
  height:16px;
}
#u5852 {
  position:absolute;
  left:2px;
  top:0px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5853 {
  position:absolute;
  left:116px;
  top:366px;
  width:55px;
  height:49px;
}
#u5854 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5855 {
  position:absolute;
  left:181px;
  top:382px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5856 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5857 {
  position:absolute;
  left:127px;
  top:483px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5858 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u5859 {
  position:absolute;
  left:443px;
  top:469px;
  width:86px;
  height:43px;
}
#u5860 {
  position:absolute;
  left:2px;
  top:14px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5861 {
  position:absolute;
  left:124px;
  top:460px;
  width:409px;
  height:1px;
}
#u5862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5863 {
  position:absolute;
  left:97px;
  top:515px;
  width:456px;
  height:16px;
}
#u5864 {
  position:absolute;
  left:2px;
  top:0px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5865 {
  position:absolute;
  left:115px;
  top:553px;
  width:55px;
  height:49px;
}
#u5866 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5867 {
  position:absolute;
  left:180px;
  top:569px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5869 {
  position:absolute;
  left:126px;
  top:670px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5870 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u5871 {
  position:absolute;
  left:442px;
  top:656px;
  width:86px;
  height:43px;
}
#u5872 {
  position:absolute;
  left:2px;
  top:14px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5873 {
  position:absolute;
  left:123px;
  top:647px;
  width:409px;
  height:1px;
}
#u5874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5875 {
  position:absolute;
  left:97px;
  top:702px;
  width:456px;
  height:16px;
}
#u5876 {
  position:absolute;
  left:2px;
  top:0px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5877 {
  position:absolute;
  left:114px;
  top:737px;
  width:55px;
  height:49px;
}
#u5878 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5879 {
  position:absolute;
  left:179px;
  top:753px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5880 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5881 {
  position:absolute;
  left:125px;
  top:854px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5882 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u5883 {
  position:absolute;
  left:441px;
  top:840px;
  width:86px;
  height:43px;
}
#u5884 {
  position:absolute;
  left:2px;
  top:14px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5885 {
  position:absolute;
  left:122px;
  top:831px;
  width:409px;
  height:1px;
}
#u5886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5887 {
  position:absolute;
  left:97px;
  top:886px;
  width:456px;
  height:16px;
}
#u5888 {
  position:absolute;
  left:2px;
  top:0px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5889 {
  position:absolute;
  left:468px;
  top:204px;
  width:63px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5890 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u5891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5891 {
  position:absolute;
  left:493px;
  top:385px;
  width:35px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5892 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5893 {
  position:absolute;
  left:491px;
  top:570px;
  width:35px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5894 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5895 {
  position:absolute;
  left:477px;
  top:756px;
  width:54px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5896 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u5897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5897 {
  position:absolute;
  left:126px;
  top:428px;
  width:363px;
  height:22px;
  font-size:18px;
}
#u5898 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u5899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5899 {
  position:absolute;
  left:126px;
  top:613px;
  width:363px;
  height:22px;
  font-size:18px;
}
#u5900 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u5901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5901 {
  position:absolute;
  left:126px;
  top:796px;
  width:363px;
  height:22px;
  font-size:18px;
}
#u5902 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  white-space:nowrap;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u5903 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u5904 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5905 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u5906 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u5908 {
  position:absolute;
  left:96px;
  top:174px;
  width:459px;
  height:1px;
}
#u5909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u5910 {
  position:absolute;
  left:197px;
  top:142px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u5911 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5912 {
  position:absolute;
  left:283px;
  top:146px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5913 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF6600;
}
#u5914 {
  position:absolute;
  left:365px;
  top:142px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF6600;
}
#u5915 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5916 {
  position:absolute;
  left:445px;
  top:146px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5917 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5918 {
  position:absolute;
  left:115px;
  top:185px;
  width:55px;
  height:49px;
}
#u5919 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5920 {
  position:absolute;
  left:180px;
  top:201px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5921 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5922 {
  position:absolute;
  left:123px;
  top:244px;
  width:327px;
  height:22px;
  font-size:18px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5924 {
  position:absolute;
  left:126px;
  top:302px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5925 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u5926 {
  position:absolute;
  left:442px;
  top:288px;
  width:86px;
  height:43px;
}
#u5927 {
  position:absolute;
  left:2px;
  top:14px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5928 {
  position:absolute;
  left:123px;
  top:279px;
  width:409px;
  height:1px;
}
#u5929 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5930 {
  position:absolute;
  left:97px;
  top:334px;
  width:457px;
  height:16px;
}
#u5931 {
  position:absolute;
  left:2px;
  top:0px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5932 {
  position:absolute;
  left:116px;
  top:366px;
  width:55px;
  height:49px;
}
#u5933 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5934 {
  position:absolute;
  left:181px;
  top:382px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5935 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5936 {
  position:absolute;
  left:124px;
  top:425px;
  width:327px;
  height:22px;
  font-size:18px;
}
#u5937 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5938 {
  position:absolute;
  left:127px;
  top:483px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u5939 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u5940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u5940 {
  position:absolute;
  left:443px;
  top:469px;
  width:86px;
  height:43px;
}
#u5941 {
  position:absolute;
  left:2px;
  top:14px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u5942 {
  position:absolute;
  left:124px;
  top:460px;
  width:409px;
  height:1px;
}
#u5943 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5944 {
  position:absolute;
  left:97px;
  top:515px;
  width:456px;
  height:16px;
}
#u5945 {
  position:absolute;
  left:2px;
  top:0px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u5946 {
  position:absolute;
  left:115px;
  top:553px;
  width:55px;
  height:49px;
}
#u5947 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5948 {
  position:absolute;
  left:180px;
  top:569px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5949 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5950 {
  position:absolute;
  left:468px;
  top:204px;
  width:63px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u5952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5952 {
  position:absolute;
  left:493px;
  top:385px;
  width:35px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u5954 {
  position:absolute;
  left:491px;
  top:570px;
  width:35px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5959 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5961 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5963 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5965 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5967 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5969 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5970 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:290px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  position:absolute;
  left:97px;
  top:605px;
  width:456px;
  height:290px;
  opacity:0.5;
}
#u5972 {
  position:absolute;
  left:2px;
  top:137px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5973 {
  position:absolute;
  left:197px;
  top:137px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:290px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  position:absolute;
  left:97px;
  top:612px;
  width:456px;
  height:290px;
  opacity:0.5;
}
#u5975 {
  position:absolute;
  left:2px;
  top:137px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:415px;
}
#u5976 {
  position:absolute;
  left:98px;
  top:187px;
  width:454px;
  height:415px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:200px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5978 {
  position:absolute;
  left:114px;
  top:198px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5980 {
  position:absolute;
  left:114px;
  top:250px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u5982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5982 {
  position:absolute;
  left:115px;
  top:302px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u5983 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5984 {
  position:absolute;
  left:114px;
  top:357px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5986 {
  position:absolute;
  left:114px;
  top:409px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u5987 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5988 {
  position:absolute;
  left:115px;
  top:461px;
  width:99px;
  height:19px;
  font-size:16px;
}
#u5989 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5990 {
  position:absolute;
  left:114px;
  top:517px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5992 {
  position:absolute;
  left:115px;
  top:569px;
  width:99px;
  height:19px;
  font-size:16px;
}
#u5993 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  position:absolute;
  left:117px;
  top:62px;
  width:104px;
  height:34px;
}
#u5995 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u5996 {
  position:absolute;
  left:169px;
  top:67px;
  width:1px;
  height:23px;
}
#u5997 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u5998 {
  position:absolute;
  left:184px;
  top:71px;
  width:17px;
  height:17px;
}
#u5999 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000 {
  position:absolute;
  left:175px;
  top:61px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6001 {
  position:absolute;
  left:119px;
  top:61px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6002 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u6003 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
