body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6004 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:892px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:438px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u6006 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u6007 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6008 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u6009 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6011 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6013 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6015 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6017 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u6018 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6019 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u6021 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6023 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:546px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  position:absolute;
  left:100px;
  top:275px;
  width:451px;
  height:546px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:265px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6027 {
  position:absolute;
  left:117px;
  top:62px;
  width:104px;
  height:34px;
}
#u6028 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6029 {
  position:absolute;
  left:184px;
  top:71px;
  width:17px;
  height:17px;
}
#u6030 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u6031 {
  position:absolute;
  left:169px;
  top:67px;
  width:1px;
  height:23px;
}
#u6032 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033 {
  position:absolute;
  left:176px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6034 {
  position:absolute;
  left:120px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u6035 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u6036 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:384px;
}
#u6038 {
  position:absolute;
  left:98px;
  top:516px;
  width:456px;
  height:384px;
}
#u6039 {
  position:absolute;
  left:2px;
  top:184px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  position:absolute;
  left:222px;
  top:724px;
  width:300px;
  height:170px;
}
#u6041 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042 {
  position:absolute;
  left:500px;
  top:518px;
  width:54px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:49px;
}
#u6043 {
  position:absolute;
  left:113px;
  top:132px;
  width:55px;
  height:49px;
}
#u6044 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6045 {
  position:absolute;
  left:178px;
  top:148px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6046 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6047 {
  position:absolute;
  left:121px;
  top:191px;
  width:327px;
  height:22px;
  font-size:18px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
#u6049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6049 {
  position:absolute;
  left:124px;
  top:249px;
  width:260px;
  height:16px;
  font-size:13px;
}
#u6050 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u6051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u6051 {
  position:absolute;
  left:117px;
  top:275px;
  width:409px;
  height:1px;
}
#u6052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#6B6B6B;
}
#u6053 {
  position:absolute;
  left:466px;
  top:151px;
  width:63px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6055 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u6056 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
