body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:858px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7147 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:858px;
}
#u7148 {
  position:absolute;
  left:2px;
  top:421px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u7149 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u7150 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7151 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u7152 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7154 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u7155 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7156 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u7157 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7158 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u7159 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7160 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u7161 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7162 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u7163 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7164 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u7165 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7166 {
  position:absolute;
  left:103px;
  top:68px;
  width:256px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u7167 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u7168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u7169 {
  position:absolute;
  left:275px;
  top:148px;
  width:91px;
  height:91px;
}
#u7170 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
}
#u7171 {
  position:absolute;
  left:296px;
  top:177px;
  width:49px;
  height:39px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u7172 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7173 {
  position:absolute;
  left:287px;
  top:249px;
  width:134px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7174 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u7175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:36px;
}
#u7175 {
  position:absolute;
  left:164px;
  top:335px;
  width:339px;
  height:151px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:36px;
}
#u7176 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u7177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:62px;
}
#u7177 {
  position:absolute;
  left:318px;
  top:621px;
  width:185px;
  height:52px;
  font-size:16px;
}
#u7178 {
  position:absolute;
  left:2px;
  top:16px;
  width:181px;
  word-wrap:break-word;
}
#u7179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:62px;
}
#u7179 {
  position:absolute;
  left:119px;
  top:621px;
  width:174px;
  height:52px;
  font-size:16px;
  color:#138BEC;
}
#u7180 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
