body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u6287 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:295px;
  font-size:20px;
  text-align:left;
}
#u6288 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
#u6289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:798px;
}
#u6289 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:798px;
}
#u6290 {
  position:absolute;
  left:2px;
  top:391px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:812px;
}
#u6291 {
  position:absolute;
  left:96px;
  top:723px;
  width:459px;
  height:812px;
}
#u6292 {
  position:absolute;
  left:2px;
  top:398px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:896px;
}
#u6293 {
  position:absolute;
  left:96px;
  top:1526px;
  width:459px;
  height:896px;
}
#u6294 {
  position:absolute;
  left:2px;
  top:440px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6295 {
  position:absolute;
  left:390px;
  top:442px;
  width:165px;
  height:75px;
}
#u6296 {
  position:absolute;
  left:2px;
  top:30px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6297 {
  position:absolute;
  left:244px;
  top:412px;
  width:73px;
  height:27px;
}
#u6298 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u6299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:47px;
  background:inherit;
  background-color:rgba(82, 72, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6299 {
  position:absolute;
  left:507px;
  top:306px;
  width:40px;
  height:47px;
}
#u6300 {
  position:absolute;
  left:2px;
  top:16px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(82, 72, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6301 {
  position:absolute;
  left:294px;
  top:306px;
  width:65px;
  height:37px;
}
#u6302 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6303 {
  position:absolute;
  left:119px;
  top:1210px;
  width:411px;
  height:122px;
}
#u6304 {
  position:absolute;
  left:2px;
  top:53px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6305 {
  position:absolute;
  left:250px;
  top:2363px;
  width:37px;
  height:56px;
}
#u6306 {
  position:absolute;
  left:2px;
  top:20px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6307 {
  position:absolute;
  left:325px;
  top:2360px;
  width:106px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6308 {
  position:absolute;
  left:441px;
  top:2360px;
  width:106px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F8676B;
}
#u6309 {
  position:absolute;
  left:122px;
  top:465px;
  width:66px;
  height:24px;
  color:#F8676B;
}
#u6310 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#626164;
}
#u6311 {
  position:absolute;
  left:122px;
  top:604px;
  width:111px;
  height:24px;
  color:#626164;
}
#u6312 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u6313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A8A8A8;
}
#u6313 {
  position:absolute;
  left:125px;
  top:575px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A8A8A8;
}
#u6314 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6315 {
  position:absolute;
  left:298px;
  top:1398px;
  width:111px;
  height:24px;
}
#u6316 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u6317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6317 {
  position:absolute;
  left:258px;
  top:1983px;
  width:160px;
  height:24px;
}
#u6318 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u6319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6319 {
  position:absolute;
  left:258px;
  top:2171px;
  width:160px;
  height:24px;
}
#u6320 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
