body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:935px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5036 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:935px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:460px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u5038 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:46px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:73px;
  background:-webkit-linear-gradient(315deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  background:linear-gradient(135deg, rgba(2, 114, 240, 1) 0%, rgba(2, 114, 240, 1) 0%, rgba(57, 165, 255, 1) 100%, rgba(57, 165, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  position:absolute;
  left:96px;
  top:49px;
  width:459px;
  height:73px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:28px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u5042 {
  position:absolute;
  left:454px;
  top:144px;
  width:82px;
  height:21px;
  font-size:16px;
  text-align:right;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:52px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5045 {
  position:absolute;
  left:446px;
  top:66px;
  width:84px;
  height:27px;
}
#u5046 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5047 {
  position:absolute;
  left:463px;
  top:77px;
  width:6px;
  height:6px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5049 {
  position:absolute;
  left:472px;
  top:77px;
  width:4px;
  height:4px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5051 {
  position:absolute;
  left:456px;
  top:78px;
  width:4px;
  height:4px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5053 {
  position:absolute;
  left:505px;
  top:72px;
  width:15px;
  height:15px;
}
#u5054 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5055 {
  position:absolute;
  left:511px;
  top:77px;
  width:5px;
  height:5px;
}
#u5056 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5057 {
  position:absolute;
  left:194px;
  top:139px;
  width:250px;
  height:32px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5058 {
  position:absolute;
  left:2px;
  top:8px;
  width:246px;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u5059 {
  position:absolute;
  left:421px;
  top:145px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(308deg);
  -moz-transform:rotate(308deg);
  -ms-transform:rotate(308deg);
  transform:rotate(308deg);
}
#u5060 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5061 {
  position:absolute;
  left:110px;
  top:68px;
  width:225px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u5062 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5063 {
  position:absolute;
  left:117px;
  top:144px;
  width:48px;
  height:21px;
  font-size:16px;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5065 {
  position:absolute;
  left:160px;
  top:149px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5066 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
  background:inherit;
  background-color:rgba(253, 89, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5067 {
  position:absolute;
  left:326px;
  top:881px;
  width:230px;
  height:64px;
  font-size:18px;
  color:#FFFFFF;
}
#u5068 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:412px;
}
#u5069 {
  position:absolute;
  left:135px;
  top:259px;
  width:385px;
  height:412px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:198px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u5071 {
  position:absolute;
  left:96px;
  top:881px;
  width:230px;
  height:64px;
  font-size:18px;
  color:#000000;
}
#u5072 {
  position:absolute;
  left:2px;
  top:21px;
  width:226px;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5073 {
  position:absolute;
  left:242px;
  top:312px;
  width:84px;
  height:31px;
  color:#FFFFFF;
}
#u5074 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5075 {
  position:absolute;
  left:428px;
  top:422px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u5076 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5077 {
  position:absolute;
  left:428px;
  top:629px;
  width:78px;
  height:30px;
  color:#FFFFFF;
}
#u5078 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u5080 {
  position:absolute;
  left:96px;
  top:175px;
  width:459px;
  height:1px;
}
#u5081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:2px;
}
#u5082 {
  position:absolute;
  left:96px;
  top:222px;
  width:459px;
  height:1px;
}
#u5083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u5084 {
  position:absolute;
  left:117px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u5085 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5086 {
  position:absolute;
  left:160px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5087 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5088 {
  position:absolute;
  left:211px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5089 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5090 {
  position:absolute;
  left:254px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5091 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5092 {
  position:absolute;
  left:326px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5093 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5094 {
  position:absolute;
  left:369px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5095 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9900;
}
#u5096 {
  position:absolute;
  left:436px;
  top:190px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF9900;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:11px;
}
#u5098 {
  position:absolute;
  left:478px;
  top:194px;
  width:6px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5099 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100 {
  position:absolute;
  left:117px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5101 {
  position:absolute;
  left:206px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5102 {
  position:absolute;
  left:321px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5103 {
  position:absolute;
  left:436px;
  top:190px;
  width:57px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u5104 {
  position:absolute;
  left:522px;
  top:191px;
  width:16px;
  height:18px;
}
#u5105 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:680px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5107 {
  position:absolute;
  left:96px;
  top:122px;
  width:459px;
  height:680px;
  opacity:0.5;
}
#u5108 {
  position:absolute;
  left:2px;
  top:332px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:143px;
}
#u5109 {
  position:absolute;
  left:96px;
  top:802px;
  width:459px;
  height:143px;
}
#u5110 {
  position:absolute;
  left:2px;
  top:64px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5111 {
  position:absolute;
  left:117px;
  top:62px;
  width:45px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5112 {
  position:absolute;
  left:598px;
  top:10px;
  width:788px;
  height:213px;
  font-size:20px;
  text-align:left;
}
#u5113 {
  position:absolute;
  left:2px;
  top:2px;
  width:784px;
  word-wrap:break-word;
}
