body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:555px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:798px;
}
#u6321 {
  position:absolute;
  left:96px;
  top:10px;
  width:459px;
  height:798px;
}
#u6322 {
  position:absolute;
  left:2px;
  top:391px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:826px;
}
#u6323 {
  position:absolute;
  left:96px;
  top:106px;
  width:459px;
  height:826px;
}
#u6324 {
  position:absolute;
  left:2px;
  top:405px;
  width:455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:52px;
  background:inherit;
  background-color:rgba(159, 183, 196, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6325 {
  position:absolute;
  left:142px;
  top:54px;
  width:413px;
  height:52px;
}
#u6326 {
  position:absolute;
  left:2px;
  top:18px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6328 {
  position:absolute;
  left:416px;
  top:61px;
  width:128px;
  height:39px;
}
#u6329 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6330 {
  position:absolute;
  left:506px;
  top:67px;
  width:28px;
  height:28px;
}
#u6331 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6332 {
  position:absolute;
  left:514px;
  top:75px;
  width:12px;
  height:12px;
}
#u6333 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6334 {
  position:absolute;
  left:440px;
  top:75px;
  width:12px;
  height:12px;
}
#u6335 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u6336 {
  position:absolute;
  left:454px;
  top:77px;
  width:8px;
  height:8px;
}
#u6337 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u6338 {
  position:absolute;
  left:429px;
  top:77px;
  width:8px;
  height:8px;
}
#u6339 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(76, 75, 71, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6340 {
  position:absolute;
  left:112px;
  top:111px;
  width:25px;
  height:25px;
}
#u6341 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(114, 98, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6342 {
  position:absolute;
  left:112px;
  top:854px;
  width:120px;
  height:19px;
}
#u6343 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:26px;
  background:inherit;
  background-color:rgba(103, 99, 96, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6344 {
  position:absolute;
  left:440px;
  top:110px;
  width:99px;
  height:26px;
}
#u6345 {
  position:absolute;
  left:2px;
  top:5px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6346 {
  position:absolute;
  left:98px;
  top:49px;
  width:61px;
  height:62px;
}
#u6347 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
